.icono-grande {
  font-size: var(--tam-icono-grande);
}

.icono-mediano {
  font-size: var(--tam-icono-mediano);
}

.icono-chico {
  font-size: var(--tam-icono-chico);
}

.icono-x-chico { 
  font-size: var(--tam-icono-x-chico);
}

.titulo-grande {
  font-size: var(--fs-titulo-grande);
  line-height: var(--lh-titulo-grande);
  letter-spacing: 0;
  font-weight: var(--fw-normal);
}

.titulo-mediano {
  font-size: var(--fs-titulo-mediano);
  line-height: var(--lh-titulo-mediano);
  letter-spacing: var(--ls-tiulo-mediano);
  font-weight: var(--fw-medio);
}

.cuerpo-mediano {
  font-size: var(--fs-cuerpo-mediano);
  line-height: var(--lh-cuerpo-mediano);
  letter-spacing: var(--ls-cuerpo-mediano);
  font-weight: var(--fw-normal);
}

.cuerpo-chico {
  font-size: var(--fs-cuerpo-chico);
  line-height: var(--lh-cuerpo-chico);
  letter-spacing: var(--ls-cuerpo-chico);
  font-weight: var(--fw-normal);
}

.etiqueta-grande {
  font-size: var(--fs-etiqueta-grande);
  line-height: var(--lh-etiqueta-grande);
  letter-spacing: var(--ls-etiqueta-grande);
  font-weight: var(--fw-medio);
}

.bg-transparente {
  background-color: transparent;
}

.bg-primario {
  background-color: var(--clr-primario-40);
}

.txt-primario {
  color: var(--clr-primario-40);
}

.bg-blanco {
  background-color: #fff;
}

.txt-blanco {
  color: #fff;
}

.bg-primario-contenedor {
  background-color: var(--clr-primario-90);
}

.txt-primario-contenedor {
  color: var(--clr-primario-90);
}

.bg-primario-contenedor-alternativo {
  background-color: var(--clr-primario-10);
}

.txt-primario-contenedor-alternativo {
  color: var(--clr-primario-10);
}

.bg-secundario {
  background-color: var(--clr-secundario-40);
}

.txt-secundario {
  color: var(--clr-secundario-40);
}

.bg-secundario-contenedor {
  background-color: var(--clr-secundario-90);
}

.txt-secundario-contenedor {
  color: var(--clr-secundario-90);
}

.bg-secundario-contenedor-alternativo {
  background-color: var(--clr-secundario-10);
}

.txt-secundario-contenedor-alternativo {
  color: var(--clr-secundario-10);
}

.bg-terciario {
  background-color: var(--clr-terciario-40);
}

.txt-terciario {
  color: var(--clr-terciario-40);
}

.bg-terciario-contenedor {
  background-color: var(--clr-terciario-90);
}

.txt-terciario-contenedor {
  color: var(--clr-terciario-90);
}

.bg-terciario-contenedor-alternativo {
  background-color: var(--clr-terciario-10);
}

.txt-terciario-contenedor-alternativo {
  color: var(--clr-terciario-10);
}

.bg-fondo {
  background-color: var(--clr-fondo-99);
}

.txt-fondo {
  color: var(--clr-fondo-99);
}

.bg-fondo-alternativo {
  background-color: var(--clr-fondo-10);
}

.txt-fondo-alternativo {
  color: var(--clr-fondo-10);
}

.bg-superficie {
  background-color: var(--clr-superficie-90);
}

.txt-superficie {
  color: var(--clr-superficie-90);
}

.bg-superficie-alternativo {
  background-color: var(--clr-superficie-30);
}

.txt-superficie-alternativo {
  color: var(--clr-superficie-30);
}

.bg-error {
  background-color: var(--clr-error-40);
}

.txt-error {
  color: var(--clr-error-40);
}
