.contenedor {
  margin: auto;
  margin-bottom: var(--espaciado-grande);
  text-align: center;
  width: 40%;
  min-width: 18.75rem;
  max-width: 25rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-jumbo);
  padding: var(--espaciado-jumbo);
  margin-bottom: var(--espaciado-jumbo);
  box-sizing: border-box;
  border-radius: var(--br-borde);
  background: linear-gradient(#ffd9e5,#b70070 );
  box-shadow: var(--bs-elevacion-1);
}

.contenido__logo {
  height: 240px;
}

.linea {
  border-bottom: 3px solid var(--clr-primario-40);
  flex-grow: 1;
}

.margin-auto {
  margin: auto;
}
