.contenedor {
  margin: auto;
  margin-bottom: var(--espaciado-grande);
  text-align: center;
  width: 40%;
  min-width: 18.75rem;
  max-width: 25rem;
}

.contenido__logo {
  height: 240px;
}

.divisor__texto {
  display: flex;
  align-items: center;
  gap: var(--espaciado-chico);

  margin-bottom: var(--espaciado-mediano);
}

.linea {
  border-bottom: 0.5px solid #000;
  flex-grow: 1;
}
