.contenedor {
  display: flex;

  height: 100vh;
  height: 100svh;
  box-sizing: border-box;
}

.contenido {
  display: flex;
  flex-direction: column;
  flex: 2;

  overflow: hidden;
}

.cabecera {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--espaciado-jumbo);
  border-bottom: 1px solid var(--clr-borde);
}

.seccion {
  padding: var(--espaciado-jumbo);
  overflow: auto;
}
