:root {
  /* Sombras */
  --bs-elevacion-1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --bs-elevacion-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --bs-elevacion-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);

  /* Fuente */
  --ff-principal: 'Roboto', sans-serif;

  /* Grosor de fuente */
  --fw-normal: 400;
  --fw-medio: 500;

  /* Tamaño de fuente */
  --fs-titulo-grande: 1.375rem;
  --fs-titulo-mediano: 1rem;
  --fs-titulo-chico: .875rem;
  --fs-cuerpo-grande: 1rem;
  --fs-cuerpo-mediano: 0.875rem;
  --fs-cuerpo-chico: 0.75rem;
  --fs-etiqueta-grande: 0.875rem;
  --fs-etiqueta-mediana: .75rem;
  --fs-etiqueta-chica: 0.6875rem;

  /* Altura de línea */
  --lh-titulo-grande: 1.75rem;
  --lh-titulo-mediano: 1.5rem;
  --lh-titulo-chico: 1.25rem;
  --lh-cuerpo-grande: 1.5rem;
  --lh-cuerpo-mediano: 1.25rem;
  --lh-cuerpo-chico: 1rem;
  --lh-etiqueta-grande: 1.25rem;
  --lh-etiqueta-mediana: 1rem;
  --lh-etiqueta-chica: 1rem;

  /* Espaciado de letras */
  --ls-tiulo-mediano: 0.0094rem;
  --ls-titulo-chico: .0063rem;
  --ls-cuerpo-grande: .0313rem;
  --ls-cuerpo-mediano: 0.0156rem;
  --ls-cuerpo-chico: 0.025rem;
  --ls-etiqueta-grande: 0.0063rem;
  --ls-etiqueta-mediana: .0313rem;
  --ls-etiqueta-chica: 0.0313rem;

  /* Tamaño de iconos de Google */
  --tam-icono-chico: 1rem;
  --tam-icono-mediano: 1.125rem;
  --tam-icono-grande: 1.375rem;

  /* Espaciados generales (Margins, paddings, etc.) */
  --espaciado-jumbo: 1rem;
  --espaciado-grande: 0.75rem;
  --espaciado-mediano: 0.5rem;
  --espaciado-chico: 0.25rem;

  --br-borde: 8px;

  --opacidad-1: .08;
  --opacidad-2: .12;

  --clr-blanco-opacidad-1: rgba(255, 255, 255, var(--opacidad-1));
  --clr-blanco-opacidad-2: rgba(255, 255, 255, var(--opacidad-2));
  --clr-primario-opacidad-1: rgba(183, 0, 112, var(--opacidad-1));
  --clr-primario-opacidad-2: rgba(183, 0, 112, var(--opacidad-2));
  --clr-fondo-alternativo-opacidad-1: rgba(32, 26, 28, var(--opacidad-1));
  --clr-fondo-alternativo-opacidad-2: rgba(32, 26, 28, var(--opacidad-2));
  --clr-secundario-contenedor-alternativo-opacidad-1: rgba(60, 0, 43, var(--opacidad-1));
  --clr-secundario-contenedor-alternativo-opacidad-2: rgba(60, 0, 43, var(--opacidad-2));

  --clr-superficie-primario-5: rgb(183, 0, 113, .05);
  --clr-superficie-primario-9: rgb(183, 0, 113, .09);

  --clr-borde: #837378; /* Outline */
  --clr-error-40: #ba1a1a;

  --clr-fondo-99: #fffbff; /* Background */
  --clr-fondo-10: #201a1c; /* On background */
  --clr-superficie-90: #f1dee3; /* Surface variant */
  --clr-superficie-30: #514348; /* On surface variant */

  --clr-primario-10: #3e0022; /* On primary container */
  --clr-primario-40: #b70070; /* Primary */
  --clr-primario-90: #ffd9e5; /* Primary container */

  --clr-secundario-10: #3c002b; /* On secondary container */
  --clr-secundario-40: #944074; /* Secondary */
  --clr-secundario-90: #ffd8ea; /* Secondary container */

  --clr-terciario-10: #001a41; /* On tertiary container */
  --clr-terciario-40: #005ac1; /* Tertiary */
  --clr-terciario-90: #d8e2ff; /* Tertiary container */
  
  --clr-neutral-80: #cfc4c6;
  
  --clr-fondo-hover: #f6f6f6;
}
