div {
  position: absolute;
  z-index: 10;

  padding: var(--espaciado-grande);
  box-sizing: border-box;

  background-color: var(--clr-superficie-90);
  box-shadow: var(--bs-elevacion-2);
  max-width: 21.75rem;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-line;

  font-size: var(--fs-cuerpo-chico);
  line-height: var(--lh-cuerpo-chico);
  letter-spacing: var(--ls-cuerpo-chico);
  color: var(--clr-superficie-30);
}
