:host {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--clr-borde);
  box-sizing: border-box;
  border-radius: var(--br-borde);
}

::slotted([slot='cabecera']) {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  padding: 0 var(--espaciado-jumbo);
  border-radius: var(--br-borde);
  cursor: pointer;
  user-select: none;
}

::slotted(.cabecera-pequeña) {
  height: 2.5rem;
}

div {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  overflow: hidden;

  transition: max-height .2s ease 0s;
}
