:host {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

div {
  display: flex;
  gap: var(--espaciado-chico);
  align-items: center;

  flex: 1;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding: var(--espaciado-chico) var(--espaciado-jumbo);
}

::slotted([slot='info']) {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
