form contenedor-flex {
  margin-bottom: var(--espaciado-grande);
}

form campo-texto {
  max-width: var(--mw-formulario);
}

boton-rellenado[data-etiqueta='Categorías'] {
  --clr-fondo: #ffffff;
  --clr-texto: var(--clr-primario-40);
}