.contenedor-borde {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

:where(lista-desplegable, info-detalles, .campos) {
  max-width: var(--mw-formulario);
}

wc-colapsable {
  border: 1px solid var(--clr-neutral-80);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-grande);

  margin-bottom: var(--espaciado-jumbo);
}

.formulario-contenedor {
  border: 1px solid var(--clr-borde);
  border-radius: var(--br-borde);
}

.campos-horizontal > * {
  flex: 1;
}
