.contenedor-borde {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

:where(lista-desplegable, info-detalles, .campos) {
  max-width: var(--mw-formulario);
}

wc-colapsable {
  border: 1px solid var(--clr-neutral-80);
}

wc-tabs form {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-grande);

  margin-bottom: var(--espaciado-jumbo);
}

.formulario-contenedor {
  border: 1px solid var(--clr-borde);
  border-radius: var(--br-borde);
}

.campos-horizontal > *,
.cliente-campos > * {
  flex: 1;
}

#contenedor-ventana info-detalles {
  max-width: unset;
  width: 100%;
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

boton-rellenado[data-etiqueta='Clientes'] {
  --clr-fondo: #ffffff;
  --clr-texto: var(--clr-primario-40);
}
