boton-rellenado[data-etiqueta='Dashboard'] {
  --clr-fondo: #ffffff;
  --clr-texto: var(--clr-primario-40);
}

.seccion {
  height: 100vh;
  height: 100svh;
}

.dashboard {
  display: grid;
  grid-template-rows: repeat(7, 160px);
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-areas:
    'a b c c'
    'a d c c'
    'e e c c'
    'e e c c'
    'e e h i'
    'j j j j'
    'j j j j';
  gap: var(--espaciado-chico);
}

.dashboard > * {
  box-sizing: border-box;

  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
  padding: var(--espaciado-chico);

  overflow: hidden;
}

.porcentaje-pedidos {
  grid-area: a;
}

.cliente-estrella {
  grid-area: b;

  text-align: center;
}

.producto-frecuente {
  grid-area: d;
}

.productos-categorias {
  grid-area: c;
}

.pedidos-clientes {
  grid-area: e;
}

.ventas-meses {
  grid-area: j;
}

.ingresos-totales {
  grid-area: i;
}

.metodo-pago-frecuente {
  grid-area: h;

  text-align: center;
}

.dashboard-icono {
  font-size: 3rem;
}

.dashboard > * > * {
  width: 100%;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 926px) {
  .dashboard {
    grid-template-rows: repeat(11, 160px);
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-areas:
      'a b'
      'a d'
      'c c'
      'c c'
      'c c'
      'e e'
      'e e'
      'e e'
      'h i'
      'j j'
      'j j';
  }
}

@media screen and (max-width: 526px) {
  .dashboard > * {
    grid-area: unset;
  }

  
  .dashboard {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(15, minmax(160px, 1fr));
    grid-template-areas: unset;
  }

  .porcentaje-pedidos,
  .productos-categorias,
  .pedidos-clientes {
    grid-row: span 3;
  }

  .ventas-meses {
    grid-row: span 2;
  }
}
