.pedidos {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-chico);

  padding: var(--espaciado-jumbo);
}

.pedidos-pendientes {
  flex-wrap: wrap;

  border-radius: var(--br-borde);
  background-color: var(--clr-primario-90);
}

.pedido-info {
  max-width: 15.625rem;
  width: 100%;
  padding: var(--espaciado-grande);
  border-radius: 2px var(--br-borde);
  box-sizing: border-box;

  user-select: none;
  cursor: pointer;

  transition: box-shadow 0.2s ease 0s;
}

.texto-pedido {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pedido-info:hover {
  box-shadow: var(--bs-elevacion-1), inset 0 0 0 1px var(--clr-secundario-90);
  background-color: var(--clr-primario-opacidad-2);
}

boton-rellenado[data-etiqueta='Inicio'] {
  --clr-fondo: #ffffff;
  --clr-texto: var(--clr-primario-40);
}
