.pedido-contenedor {
  max-width: var(--mw-formulario);
}

.pedido-contenedor info-detalles {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

#agregar-pedido > boton-rellenado {
  margin: var(--espaciado-jumbo) 0;
}

#agregar-pedido wc-colapsable {
  border: 1px solid var(--clr-neutral-80);
}

#agregar-pedido wc-colapsable + wc-colapsable {
  margin-top: var(--espaciado-chico);
}

#aplicaciones {
  display: flex;
  gap: var(--espaciado-chico);
}

#aplicaciones > *,
#tipos-entrega > * {
  cursor: pointer;
}

#tarjeta-campos *,
.campos-ubicacion * {
  flex: 1;
}

#lista-clientes,
#contenedor-datos-personales {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
  overflow: hidden;
}
