.ancho-fijo {
  max-width: var(--mw-formulario);
}

.ancho-fijo info-detalles,
#lista-productos {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
  overflow: hidden;
}

#agregar-pedido > boton-rellenado {
  margin: var(--espaciado-jumbo) 0;
}

#agregar-pedido wc-colapsable,
.contenedor-borde wc-colapsable {
  border: 1px solid var(--clr-neutral-80);
}

#agregar-pedido wc-colapsable + wc-colapsable {
  margin-top: var(--espaciado-chico);
}

#aplicaciones > *,
#tipos-entrega > * {
  cursor: pointer;
}

#tarjeta-campos *,
.campos-ubicacion * {
  flex: 1;
}

#lista-clientes,
#contenedor-datos-personales {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
  overflow: hidden;
}

.check {
  aspect-ratio: 1;
  width: 1.125rem;
  margin: 0 var(--espaciado-jumbo) 0 0;
  pointer-events: none;
  accent-color: var(--clr-secundario-40);
}

boton-elevado {
  position: sticky;
  bottom: 0;
}

.mini-input {
  padding: 0 var(--espaciado-mediano);
  width: 6ch;
  text-align: center;
  min-height: 2rem;

  appearance: none;
  -moz-appearance: textfield;
}

.mini-input::-webkit-outer-spin-button,
.mini-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#entrega-aplicacion {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-grande);
}

.contenedor-borde {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

.flex-start {
  align-items: flex-start;
}
