.contenedor-borde {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

contenedor-colapsable form {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-jumbo);

  margin-bottom: var(--espaciado-jumbo);
}

.campos {
  max-width: var(--mw-formulario);
}

.producto-campos > * {
  flex: 1;
}

info-detalles {
  max-width: var(--mw-formulario);
}

.no-existencias {
  color: var(--clr-neutral-80);
}

boton-rellenado[data-etiqueta='Productos'] {
  --clr-fondo: #ffffff;
  --clr-texto: var(--clr-primario-40);
}
