.contenedor-borde {
  border: 1px solid var(--clr-neutral-80);
  border-radius: var(--br-borde);
}

contenedor-colapsable form {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-jumbo);

  margin-bottom: var(--espaciado-jumbo);
}

.campos {
  max-width: 35rem;
}

.producto-campos > * {
  flex: 1;
}

info-detalles {
  max-width: 35rem;
}