.menu-lateral {
  display: flex;
  flex-direction: column;
  flex: 1;

  min-width: min-content;
  max-width: 15rem;
  padding: var(--espaciado-jumbo);
  border-radius: 0 var(--br-borde) var(--br-borde) 0;

  box-shadow: var(--bs-elevacion-2);
  box-sizing: border-box;

  transition: flex 0.2s ease 0s;
}

.menu-lateral--reducido {
  flex: unset;
}

.menu-lateral > .boton:first-child {
  margin-bottom: var(--espaciado-grande);
}

.menu-lateral > .boton:last-child {
  margin-top: auto;
}

.menu-lateral__secciones {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-grande);
}
