:host {
  display: flex;
  flex-direction: column;
  gap: var(--espaciado-chico);

  text-align: left;
}

.etiqueta {
  display: flex;
  align-items: center;
  gap: var(--espaciado-chico);
}

::slotted([slot='campo']) {
  height: 2.5rem;
  padding: 0 var(--espaciado-jumbo);
  box-sizing: border-box;
  width: 100%;

  border: 1px solid var(--clr-borde);
  border-radius: var(--br-borde);
}

::slotted([slot='campo']:focus-visible) {
  border: 2px solid var(--clr-primario-40);
  padding: 0 calc(var(--espaciado-jumbo) - 1px);
  outline: none;
}
